<div class="navbar">
    <nav class="navbar_items">
        <div <class="nav_link">
            <a href="/">home</a>
        </div>
        <div <class="nav_link">
            <a href="/register">register</a>
        </div>
        <div <class="nav_link">
            <a href="/petition">petition</a>
        </div>
        <div <class="nav_link">
            <a href="/supporter">supporter</a>
        </div>
    </nav>
    <nav class="navbar_items_right">
        <div <class="nav_link">
            <a href="/login">login</a>
        </div>
        <div <class="nav_link">
            <a href="/logout">logout</a>
        </div>
    </nav>
</div>
