<div class="partial">
    <div class="navbar">
        <div class="navbar_items">
            <div class="nav_link">
                <a href="/">home</a>
            </div>
            <div class="nav_link">
                <a href="/register">register</a>
            </div>
            <div class="nav_link">
                <a href="/petition">petition</a>
            </div>
            <div class="nav_link">
                <a href="/supporter">supporters</a>
            </div>
            <div class="nav_link">
                <a href="/myprofile">my profile</a>
            </div>
        </div>
        <div class="navbar_items_right">
            <div class="nav_link">
                <a href="/logout">logout</a>
            </div>
            <div class="nav_link">
                <a href="/login">login</a>
            </div>
        </div>
    </div>
</div>
