<form method="POST">

    <a href="/register">registration</a>
    <input type="text" name="email" placeholder="email">
    <br>

    <input type="text" name="password" placeholder="password">
    <br><br>

    <button>submit</button>
</form>
