<form method="POST">
    <div>
    <a href="/register">registration</a>
    </div>
    <div>
    <input type="text" name="email" placeholder="email">
    <br></br>

    <input type="text" name="password" placeholder="password">
    <br></br>

    <button>submit</button>
    </div>
</form>
