<div class="view">
    <div class="headline">
        <p>log in</p>
    </div>
    <form method="POST">

        <div class="register_input">
            <input type="text" name="email" placeholder="email">
            <br></br>
        </div>
        <div class="register_input">
            <input type="text" name="password" placeholder="password">
            <br></br>
        </div>
        <div>
            <button class="login_home">submit</button>
        </div>
        
    </form>

</div>
