<div class="view">
    <div class="headline">
        <p>my profile</p>
    </div>
    <form method="POST">

        <div class="register_input">
            <input type="text" name="age" placeholder="age">
            <br></br>
        </div>
        <div class="register_input">
            <input type="text" name="city" placeholder="city">
            <br></br>
            <input type="text" name="url" placeholder="homepage">
            <br></br>
        </div>
        <button>submit</button>
    </form>
</div>
