<form method="POST">

    <div id="sketch"><canvas id="paint" width="500" height="100" style="border:1px solid #000000;"></canvas></div>

    <!-- <div id="sketch">
        <canvas id="paint">Sign Here</canvas>
    </div> -->
    First name:<br>
    <input type="text" name="firstname" value="Mickey">
    <br>
    Last name:<br>
    <input type="text" name="lastname" value="Mouse">
    <br><br>
    <input id = "hidden" name="hidden" type="hidden">
    <button>submit</button>
</form>
