<div class="view">
    <form method="POST">

        <div class="headline">
            <p> Hi {{firstname}}!</p>
        </div>

        <div id="sketch"><canvas id="paint" width="500" height="100" style="border:1px solid #000000;"></canvas></div>




        <input id = "hidden" name="hidden" type="hidden" value="">
        <button>submit</button>
    </form>
</div>
