<form method="POST">
    <<h1>Hi {{firstname}}</h1>

    <div id="sketch"><canvas id="paint" width="500" height="100" style="border:1px solid #000000;"></canvas></div>

    <!-- <div id="sketch">
        <canvas id="paint">Sign Here</canvas>
    </div> -->
    <a href="/login">login</a>
    <input type="text" name="firstname" placeholder="First Name">
    <br>

    <input type="text" name="lastname" placeholder="Last Name">
    <br><br>
    <input id = "hidden" name="hidden" type="hidden" value="">
    <button>submit</button>
</form>
