<form method="POST">
    <p>Please tell us a little bit more about yourself:</p>

    <input type="text" name="age" placeholder="age">
    <br></br>

    <input type="text" name="city" placeholder="city">
    <br></br>
    <input type="text" name="url" placeholder="homepage">
    <br></br>

    <button>submit</button>
</form>
