<div class="view">
    <div class="headline">
        <p>please, tell us more :)</p>
    </div>
    <form method="POST">
        <div class="input_profile">
            <input type="text" name="age" placeholder="age">
            <br></br>
        </div>
        <div class="input_profile">
            <input type="text" name="city" placeholder="city">
            <br></br>
        </div>
        <div class="input_profile">
            <input type="text" name="url" placeholder="homepage">
            <br></br>
        </div>

        <button class="button_profile">submit</button>
    </form>

</div>
