<div class="view">
    <div id="register">
        <div class="headline">
            <p>please register first</p>
        </div>

        <form method="post">
            <div class="register_input">
                <input placeholder="firstname" name="first" type="text">
                <br></br>
            </div>
            <div class="register_input">
                <input placeholder="lastname" name="last" type="text">
                <br></br>
            </div>
            <div class="register_input">
                <input placeholder="email" name="email" type="text">
                <br></br>
            </div>
            <div class="register_input">
                <input placeholder="password" name="password" type="text">
                <br></br>
            </div>
            <div>
                <button class="button_register" type="submit">submit</button>
            </div>
        </form>

    </div>
</div>
