<div id="register">
    <h1>Please register</h1>

    <form method="post">
        <div class="register_input">
            <input placeholder="firstname" name="first" type="text">
        </div>
        <div class="register_input">
            <input placeholder="lastname" name="last" type="text">
        </div>
        <div class="register_input">
            <input placeholder="email" name="email" type="text">
        </div>
        <div class="register_input">
            <input placeholder="password" name="password" type="text">
        </div>
        <div>
            <button class="register_button" type="submit">Submit</button>
        </div>
    </form>

</div>
