<div class="view">
    <div class="headline">
        <p>thank you!!</p>
    </div>
        <div class="container">
            <img class="signature" src="{{signature}}">
            <div class="count">hip, hip, you are vote no. {{count}}!</div>
            <!-- <div <class="button_thankyou">
                <a href="/supporter">show supporter</a>
            </div> -->
            <!-- <div>
                <button class="button_thankyou" type="submit">show supporter</button>
            </div> -->
            <div class="button_thankyou">
                <a href="/supporter">show all</a>
            </div>
        </div>


</div>
