<div class="view">
    <div class="container">


        <h1>thanks for your support!!</h1>
            <img src="{{signature}}">
            <div class="count">{{count}}</div>
            <a href="/supporter">show all</a>
    </div>

</div>
