<div class="view">
    <div class="headline">
        <p>updated!</p>
    </div>
    
    <!-- <form method="POST">

        <div class="register_input">
            <input type="text" name="age" placeholder="age">
            <br></br>
        </div>
        <div class="register_input">
            <input type="text" name="city" placeholder="city">
            <br></br>
        </div>
        <div class="register_input">
            <input type="text" name="url" placeholder="homepage">
            <br></br>
        </div>
        <div>
            <button class="button_register" type="submit">submit</button>
        </div>
    </form>
</div> -->
