body {
    background-color: red;
    /* display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    font-family: sans-serif;
    font-size: 14px;
    height: 350px; */
    margin: 0;
    padding: 0;
}
.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 1fr);
    /* grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr; */
}
nav {
    grid-area: 1 / 1 / 2/ 11;

}
.navbar_items a {
    float: left;
    font-size: 30px;
    color: white;
    padding: 30px;
    text-decoration: none;
    font-family: Arial;
}
.navbar_items_right a {
    float: right;
    font-size: 30px;
    color: white;
    padding: 30px;
    text-decoration: none;
    font-family: Arial;
}

.view {
    grid-area: 2 / 2 / 14 / 10;
}

}
.grid div {
    background-color: purple;
}

/* ////////////// home //////////////////////////////////////// */

.headline {
    grid-area: 1 / 2 / 6 / 10;
}
.headline p {

    font-size: 100px;
    color: white;
    font-family: Arial;
    font-weight: bold;
}
.button_home{
    grid-area: 5 / 7 / 6 / 9;
    color: #ed6691;
    font: bold 70px Arial;
  text-decoration: solid;
  background-color: #EEEEEE;
  box-shadow: 0px 2px 19px rgba(50, 50, 50, 0.75);
    padding: 2px 6px 2px 34px;

}
.login_home{
    grid-area: 5 / 7 / 6 / 9;
    color: #ed6691;
    font: bold 70px Arial;
  text-decoration: solid;
  background-color: #EEEEEE;
  box-shadow: 0px 2px 19px rgba(50, 50, 50, 0.75);


}
/* ////////////// supporter //////////////////////////////////////// */

.signersList  {
    font-size: 18px;
    color: white;
    font-family: Arial;
    font-weight: bold;
    text-decoration: none;
}
.signersList a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-family: Arial;
    font-weight: bold;
}
/* ////////////// register //////////////////////////////////////// */

.register_input {
    font-family: Arial, Sans-Serif;
    font-size: 20px;
    margin-bottom: 5px;
    display: block;
    padding: 4px;
    background-color: white;
    /* border: solid 1px #85b1de; */
    width: 300px;
    border: none;
}
.button_register {
    grid-area: 5 / 7 / 6 / 9;
    color: #ed6691;
    font: bold 70px Arial;
  text-decoration: solid;
  background-color: #EEEEEE;
  box-shadow: 0px 2px 19px rgba(50, 50, 50, 0.75);
    /* padding: 2px 6px 2px 34px; */

}
/* ////////////// profile //////////////////////////////////////// */
.input_profile {
    font-family: Arial, Sans-Serif;
    font-size: 13px;
    margin-bottom: 5px;
    display: block;
    padding: 4px;
    background-color: white;
    /* border: solid 1px #85b1de; */
    width: 300px;
    border: none;
}
.button_profile {
    grid-area: 5 / 7 / 6 / 9;
    color: #ed6691;
    font: bold 70px Arial;
  text-decoration: solid;
  background-color: #EEEEEE;
  box-shadow: 0px 2px 19px rgba(50, 50, 50, 0.75);
    /* padding: 2px 6px 2px 34px; */

}
/* ////////////// thankYou //////////////////////////////////////// */

.count {
    font-size: 100px;
    color: white;
    font-family: Arial;
    font-weight: bold;
}

.input_thankyou {
    font-family: Arial, Sans-Serif;
    font-size: 13px;
    margin-bottom: 5px;
    display: block;
    padding: 4px;
    background-color: white;
    /* border: solid 1px #85b1de; */
    width: 300px;
    border: none;
}

.button_thankyou a{
    grid-area: 5 / 7 / 6 / 9;
    color: #ed6691;
    font: bold 70px Arial;
  text-decoration: solid;
  background-color: #EEEEEE;
  box-shadow: 0px 2px 19px rgba(50, 50, 50, 0.75);
    /* padding: 2px 6px 2px 34px; */

}








input{
    border: none;
}

header{

}
main{

}
aside{

}
form {
    margin: 0px 245px;
    padding: 0px;
    /* width: 400px; */
    grid-column: 4/ 4 span;
    grid-row: 6/ 5 span;
    height: 150px;
}
footer{

}
