body{
    background-color: red;
}
.navbar {
    display: flex;
    background-color: red;
    display: flex;
    /* padding: 16px; */
    font-family: sans-serif;
    color: white;

}
.navbar_items{
    display: flex;
}

.nav_link{
    padding-right: 8px;
    text-decoration: none;
    font-size: 50px;
    color: purple;
}

.container {
    width: 100%;
    height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
}
input{
    flex-direction: row;
    width: 210px;
    height: 30px;
    border: none;
    font-size: 18px;
}
.container a{
    padding-right: 30px;
    text-decoration: none;
    font-size: 50px;
    color: purple;
}

}

h1{
    color: white;
    text-align: center;
}
h1{
    color: white;
    
}


/* .container a{
    text-decoration: none;
    font-size: 50px;
    color: purple;
} */
.register_input{
    flex-direction: column;

}
.register_button {
    width: 50px;
    height: 30px;
}

.view {
    color: white;
    border: 1px solid red;
    background-color: red;
    padding: 20px;
    margin: 20px;
}

.partial {
    border: 1px dotted blue;
    background-color: #90B6EE;
    padding: 20px;
    margin: 20px;
}

}
#paint{
    align-self: center;
    width: 400px;
    height: 200px;
    z-index: 1;
}
